@page
@model FribergsBilar_RazorPages.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Customers</h1>
<section>
    <p>
        @if (ViewData["AdminCookies"] != null)
        {
            <button><a asp-page="Create">Add A Customer</a></button>
        }
    </p>
</section>

<section>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Customer[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer[0].LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer[0].Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer[0].Address)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Customer)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @if (ViewData["AdminCookies"] != null)
                        {
                            <button class="EditButton"> <a asp-page="./Edit" asp-route-id="@item.CustomerId">Edit</a> </button>
                            ;
                            <button class="DetailsButton"><a asp-page="./Details" asp-route-id="@item.CustomerId">Details</a> </button>
                            ;
                            <button class="DeleteButton"> <a asp-page="./Delete" asp-route-id="@item.CustomerId">Delete</a> </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

